{% extends 'bootstrap_3_layout.html.twig' %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
        {% if form_icon is defined %}
          <i class="fa {{ form_icon }}"></i>
        {% endif %}
    </div>
{%- endblock form_row %}
