{% extends '::centered_layout.html.twig' %}
{% trans_default_domain 'Error' %}

{% block centered_content_class %}
  centered-content-container center-content wrong-entry
{% endblock %}

{% block centered_content %}
  <h2>{{ 'Error.Title'|trans }}</h2>
  <p class="error">
    {{
      'Error.Details'|trans({
        '%status_code%': status_code,
        '%status_text%': status_text
      })
    }}
  </p>
  <p>{{ 'Error.MainText'|trans }}</p>
{% endblock %}
