{% extends 'OksAppBundle::base.html.twig' %}

{% block main_content %}
  {%
    include 'OksAppBundle:RealEstateAd:realestateads-table.html.twig' with {
      'real_estate_ads': last_real_estate_ads,
      'table_title': 'RealEstateAds.LastAds',
      'table_subtitle': 'RealEstateAds.LastAdsDescription'
    } only
  %}
{% endblock %}
