<!doctype html>
<html lang="en">
<head>
  <title>
    {% block main_title %}Oikos{% endblock %}
  </title>
  <meta charset="utf-8"/>
  {% block meta_description %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
  {% endblock %}
  {% block favicons %}
  {#
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  #}
  {% endblock %}
  {% block stylesheets %}
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet prefetch" />
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet prefetch' type='text/css' />
    <link href="/css/style.min.css" rel="stylesheet" />
  {% endblock %}
</head>
<body{% block body_attributes %}{% endblock %}>
  {% block body %}
    <div class="wrapper">
      {% block sidebar %}
        <div class="sidebar" data-background-color="white" data-active-color="info">
          <div class="sidebar-wrapper">
            <h1 class="logo">
              <a href="{{ path('oks_app_homepage') }}" class="simple-text">
                Oikos
              </a>
            </h1>
            {{ render_esi(controller('OksAppBundle:Layout:sidebarLinks', { 'route': app.request.attributes.get('_route') })) }}
          </div>
        </div>
      {% endblock %}
      <div class="main-panel">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
              </button>
              <a class="navbar-brand">
                {% block navbar_title %}
                  {{ 'Layout.Menu.Dashboard'|trans({}, 'layout') }}
                {% endblock %}
              </a>
            </div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="ti-user"></i>
                    <p>{{ 'Layout.Menu.User'|trans({ '%username%': app.user.username }, 'layout') }}</p>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
        </nav>
        <div class="content">
          <div class="container-fluid">
            {% block main_content %}{% endblock %}
          </div>
        </div>
        <footer class="footer">
          <div class="container-fluid">
            <nav class="pull-left">
              <ul>
                {% block breadcrumb_links %}
                  <li>
                    <a href="{{ path('oks_app_homepage') }}">{{ 'Layout.Menu.Home'|trans({}, 'layout') }}</a>
                  </li>
                {% endblock %}
              </ul>
            </nav>
            <div class="copyright pull-right">
              &copy; {{ 'now'|date('Y') }} |
              {{ 'Footer.Copyright.MadeWith'|trans({}, 'layout') }}
              <i class="fa fa-heart heart"></i>
              {{ 'Footer.Copyright.By'|trans({}, 'layout') }}
              <a href="http://www.clementdelmas.fr">Clément Delmas</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
  {% endblock %}

  <div class="scripts">
    {% block javascripts %}
      <script type="text/javascript" src="/js/main.min.js"></script>
    {% endblock %}
  </div>

</body>
</html>
