{% extends "::base.html.twig" %}

{% block body_attributes %} class="centered-content-body"{% endblock %}

{% block body %}

  <div class="{% block centered_content_class %}centered-content-container{% endblock %}">
    <h1>Oikos</h1>
    <div class="centered-form">
      {% block centered_content %}{% endblock %}
    </div>
    <footer class="centered-footer">
      {% block centered_content_footer %}
        <a href="{{ path('oks_app_homepage') }}" class="footer-link">
          {{ 'registration.back_home'|trans({}, 'FOSUserBundle') }}
        </a>
      {% endblock %}
    </footer>
  </div>

{% endblock %}
