{% extends "::centered_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block centered_content %}

  <h2>{{ 'layout.login'|trans }}</h2>
  <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
    <div class="form-group">
      <label for="username">{{ 'security.login.username'|trans }}</label>
      <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="{{ 'security.login.username'|trans }}" />
      <i class="fa fa-user"></i>
    </div>
    <div class="form-group log-status">
      <label for="password">{{ 'security.login.password'|trans }}</label>
      <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'security.login.password'|trans }}" />
      <i class="fa fa-lock"></i>
    </div>
    <div class="form-checkbox checkbox checkbox-info">
      <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
      <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>
    {% if error %}
      <span class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
    {% endif %}

    <a class="link forgotten-password-link" href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.lost_password'|trans }}</a>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="submit-btn" />
  </form>

{% endblock centered_content %}

{% block centered_content_footer %}
  <h2>{{ 'security.login.no_account'|trans }}</h2>
  <a href="{{ path('fos_user_registration_register') }}" class="action-btn">{{ 'layout.register'|trans }}</a>
{% endblock centered_content_footer %}
