{% extends "::centered_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block centered_content %}
  <h2>{{ 'layout.forgotten_password'|trans }}</h2>
  <p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock centered_content %}

{% block centered_content_footer %}
  <a href="{{ path('fos_user_security_login') }}" class="action-btn">{{ 'layout.login'|trans }}</a>
{% endblock centered_content_footer %}
