{% extends "::centered_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block centered_content %}
  <h2>{{ 'layout.forgotten_password'|trans }}</h2>
  {% include "OksUserBundle:Resetting:request_content.html.twig" %}
{% endblock centered_content %}

{% block centered_content_footer %}
  <h2>{{ 'resetting.memory_comes_back'|trans }}</h2>
  <a href="{{ path('fos_user_security_login') }}" class="action-btn">{{ 'layout.login'|trans }}</a>
{% endblock centered_content_footer %}
