{% trans_default_domain 'FOSUserBundle' %}

{% set error_class = invalid_username is defined ? 'wrong-entry' : '' %}
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request {{ error_class }}" role="form">

  {% if invalid_username is defined %}
      <p class="error">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
  {% endif %}

  <div class="form-group">
    <label for="username">{{ 'resetting.request.username'|trans }}</label>
    <input type="text" id="username" name="username" required="required" class="form-control" placeholder="{{ 'security.login.username'|trans }}" />
    <i class="fa fa-user"></i>
  </div>
  <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="submit-btn" />

</form>
