{% extends "::centered_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block centered_content %}
  {% include "OksUserBundle:Resetting:reset_content.html.twig" %}
{% endblock centered_content %}
