{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'form/fields_with_icons.html.twig' %}

{{ form_start(form, { 'method': 'post', 'role': 'form', 'action': path('fos_user_resetting_reset', { 'token': token }), 'attr': { 'class': 'fos_user_resetting_reset' }}) }}

  {{ form_row(form.plainPassword.first, { 'form_icon': 'fa-key', 'attr': { 'class': 'form-control', 'placeholder': 'form.password' } }) }}
  {{ form_row(form.plainPassword.second, { 'form_icon': 'fa-key', 'attr': { 'class': 'form-control', 'placeholder': 'form.password_confirmation' } }) }}

  {{ form_row(form._token) }}
  <input type="submit" id="_submit" name="_submit" value="{{ 'resetting.reset.submit'|trans }}" class="submit-btn" />

{{ form_end(form) }}
