{% extends "::centered_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block centered_content %}
  <h2>{{ 'layout.register'|trans }}</h2>
  <p class="success">{{ 'registration.confirmed'|trans({ '%username%': user.username }) }}</p>
  {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
  {% endif %}
{% endblock centered_content %}
