.centered-content-body {
  background: $cc-body-background;

  h1 {
    margin: 15px 0 30px;
    color: $cc-title-color;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
  }

  h2 {
    margin: 0 0 30px;
  }

  .centered-content-container {
    width: 450px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    transform: translateY(-50%);

    &.center-content {
      text-align: center;
    }
  }

  .centered-form {
    padding: 40px 30px;
    border-radius: 5px 5px 0 0;
    background: $cc-content-background;
  }

  .form-group {
    position: relative;
    margin-bottom: 15px;
  }

  .form-control {
    width: 100%;
    height: 50px;
    padding: 5px 7px 5px 15px;
    background: $cc-form-control-background;
    color: $cc-form-control-color;
    border: $cc-form-control-border;
    border-radius: 4px;

    &:focus,
    &:focus + .fa {
      border-color: $cc-focus-color;
      color: $cc-focus-color;
    }
  }

  .form-group {
    label {
      display: none;
    }

    .fa {
      position: absolute;
      right: 15px;
      top: 17px;
      color: $cc-fa-color;
    }
  }

  .log-status.wrong-entry {
    animation: wrong-log .3s;
  }

  .wrong-entry {
    .error {
      color: $cc-error-color;
    }

    .form-control,
    .form-control + .fa {
      border-color: $cc-error-color;
      color: $cc-error-color;
    }
  }

  .success {
    color: $success-color;
  }

  .submit-btn,
  .action-btn {
    background: $cc-submit-background;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    height: $cc-buttons-height;
    color: $cc-submit-color;
    text-decoration: none;
    border: 0;
    border-radius: 4px;

    &:hover {
      background: darken($cc-submit-background, 10);
    }
  }

  .action-btn {
    line-height: $cc-buttons-height;
    background: $cc-action-background;
    color: $cc-action-color;
    text-align: center;
    font-weight: bold;

    &:hover {
      background: darken($cc-action-background, 10);
    }
  }

  .link {
    text-decoration: none;
    color: $cc-link-color;
    float: right;
    font-size: 12px;
    margin-bottom: 15px;

    &:hover {
      text-decoration: underline;
      color: $cc-link-hover-color;
    }
  }

  .alert {
    display: none;
    font-size: 12px;
    color: $cc-alert-color;
    float: left;
  }

  .centered-footer {
    margin: 5px 0 0;
    padding: 30px;
    background: $cc-footer-background;
    border-radius: 0 0 5px 5px;

    h2 {
      margin: 0 0 1em;
      font-size: 18px;
      color: $cc-link-hover-color;
    }

    .footer-link {
      display: block;
      text-align: center;
    }
  }

}
