// Main variables
$cc-body-background: #f4f3ef;
$cc-content-background: #fff;
$cc-title-color: #ccc;
$cc-form-control-background: #fff;
$cc-form-control-color: #666;
$cc-form-control-border: 2px solid #ddd;
$cc-focus-color: $info-color;
$cc-fa-color: #999;
$cc-link-color: #c6c6c6;
$cc-link-hover-color: #8c918f;
$cc-buttons-height: 50px;
$cc-submit-background: $info-color;
$cc-submit-color: #fff;
$cc-action-background: $success-color;
$cc-action-color: #fff;
$cc-error-color: #ed1c24;
$cc-alert-color: #f00;
$cc-footer-background: $cc-content-background;
