{% trans_default_domain 'real-estate-ads' %}

<div class="col-md-12">
  <div class="card">
    <div class="header">
        <h4 class="title">
          {{ (table_title is defined ? table_title : 'RealEstateAds.TableTitle')|trans }}
        </h4>
        {% if table_subtitle is defined %}
          <p class="category">{{ table_subtitle|trans }}</p>
        {% endif %}
    </div>
    <div class="content table-responsive table-full-width">
      <table class="table table-striped">
          <thead>
            <th>{{ 'RealEstateAd.City'|trans }}</th>
            <th>{{ 'RealEstateAd.Title'|trans }}</th>
            <th>{{ 'RealEstateAd.Price'|trans }}</th>
            <th>{{ 'RealEstateAd.UpdatedAt'|trans }}</th>
          </thead>
          <tbody>
            {% for real_estate_ad in real_estate_ads %}
              <tr>
                <td>{{ real_estate_ad.city }}</td>
                <td>{{ real_estate_ad.title }}</td>
                <td>{{ real_estate_ad.price|number_format ~ ' €' }}</td>
                <td>{{ real_estate_ad.updatedat|date }}</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>
