<ul class="nav">
  {% for link in links %}
    <li class="{{ link.class }}">
      <a class="nav-link" href="{{ path(link.route) }}">
        {% if link.icon is defined and link.icon != '' %}
          <i class="{{ link.icon }}"></i>
        {% endif %}
        <p>{{ link.title|trans({}, 'layout') }}</p>
      </a>
    </li>
  {% endfor %}
</ul>
