//***********************************************************************************************
//
//    Bootstrap Overrides
//
//***********************************************************************************************

ul.row {
  padding: 0;

  li {
    list-style-type: none;
  }
}
