// Import custom colors
@import '../oikos/colors';

// Initialize
$enable-flex: true;
$enable-grid-classes: true;

// Assets
$icon-font-path:           '../fonts/';

// Body
$body-bg:                   #ededed !default;

// Colors
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             darken(#428bca, 6.5%) !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;

// Typography
$font-family-sans-serif:     'OpenSans', Helvetica, Arial, sans-serif !default;
$font-family-serif:          Georgia, 'Times New Roman', Times, serif !default;
$font-family-monospace:      Menlo, Monaco, Consolas, 'Courier New', monospace !default;
$font-family-base:           $font-family-sans-serif !default;
