{{ form_start(calculator_form, { 'action': path('oks_app_calculator') }) }}
  {{ form_errors(calculator_form) }}

  <div class="row">
    <div class="col-sm-4">
      {{ form_row(calculator_form.loan_total, { 'attr': { 'class': 'form-control border-input' } }) }}
    </div>
    <div class="col-sm-4">
      {{ form_row(calculator_form.annual_interest_rate, { 'attr': { 'class': 'form-control border-input' } }) }}
    </div>
    <div class="col-sm-4">
      {{ form_row(calculator_form.loan_duration, { 'attr': { 'class': 'form-control border-input' } }) }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      {{ form_row(calculator_form.insurance_quota, { 'attr': { 'class': 'form-control border-input' } }) }}
    </div>
    <div class="col-sm-4">
      {{ form_row(calculator_form.insurance_rate, { 'attr': { 'class': 'form-control border-input' } }) }}
    </div>
    <div class="col-sm-2">
      {{ form_row(calculator_form.borrowers_number, { 'attr': { 'class': 'form-control border-input' } }) }}
    </div>
    <div class="col-sm-2 date-widget">
      {{ form_row(calculator_form.loan_start_date, { 'attr': { 'class': 'form-control border-input' } }) }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <p class="text-warning">{{ 'form.warning_message'|trans({}, 'calculator') }}</p>
    </div>
    <div class="col-sm-2 text-center">
      {{ form_row(calculator_form.submit_form, { 'attr': { 'class': 'btn btn-info btn-fill btn-wd' } }) }}
    </div>
  </div>
{{ form_end(calculator_form) }}
