{% extends 'OksAppBundle::base.html.twig' %}

{% block navbar_title %}
  {{ 'Layout.Menu.Calculator'|trans({}, 'layout') }}
{% endblock %}

{% block main_content %}

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header"><h4 class="title">{{ 'form.title'|trans({}, 'calculator') }}</h4></div>
        <div class="content">
          {% include 'OksAppBundle:Calculator:form.html.twig' with { 'calculator_form': calculator_form } only %}
        </div>
      </div>
    </div>
  </div>

  {% if loan %}
    {% include 'OksAppBundle:Calculator:loan-details.html.twig' with { 'loan': loan } only %}
    {% include 'OksAppBundle:Calculator:loan-amortization-table.html.twig' with { 'loan': loan } only %}
  {% endif %}

{% endblock %}
