{% trans_default_domain 'calculator' %}

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="header"><h4 class="title">{{ 'loan.payments_total'|trans }}</h4></div>
      <div class="content">
        <table class="table table-striped numbered-table">
          <tbody>
            <tr>
              <th>{{ 'loan.amount_borrowed'|trans }}</th>
              <td>{{ loan.getTotal|number_format(2) ~ ' €' }}</td>
            </tr>
            <tr>
              <th>{{ 'loan.total_bank_interest'|trans }}</th>
              <td>{{ loan.getTotalLoanCost|round|number_format(2) ~ ' €' }}</td>
            </tr>
            <tr>
              <th>{{ 'loan.insurance_cost'|trans }}</th>
              <td>{{ loan.getTotalInsurancePayment|round|number_format(2) ~ ' €' }}</td>
            </tr>
            <tr>
              <th>{{ 'loan.financing_cost'|trans }}</th>
              <td>{{ (loan.getTotalLoanCost + loan.getTotalInsurancePayment)|round|number_format(2) ~ ' €' }}</td>
            </tr>
          </tbody>
        </table>
        <p class="text-info">
          {{ 'loan.info_message'|trans }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="header"><h4 class="title">{{ 'loan.monthly_summary'|trans }}</h4></div>
      <div class="content">
        <table class="table table-striped numbered-table">
          <tbody>
            <tr>
              <th>{{ 'loan.monthly_payment'|trans }}</th>
              <td>{{ loan.getMonthlyPaymentDue|number_format(2) ~ ' €' }}</td>
            </tr>
            <tr>
              <th>{{ 'loan.monthly_insurance_cost'|trans }}</th>
              <td>{{ loan.getMonthlyInsurancePayment|number_format(2) ~ ' €' }}</td>
            </tr>
            <tr>
              <th><strong>{{ 'loan.monthly_payment_with_insurance'|trans }}</strong></th>
              <td><strong>{{ loan.getTotalMonthlyDue|number_format(2) ~ ' €' }}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="header"><h4 class="title">{{ 'loan.dates_and_payments'|trans }}</h4></div>
      <div class="content">
        <table class="table table-striped numbered-table">
          <tbody>
            <tr>
              <th>{{ 'loan.start_date'|trans }}</th>
              <td>{{ loan.getStartDate|date('d/m/Y') }}</td>
            </tr>
            <tr>
              <th>{{ 'loan.end_date'|trans }}</th>
              <td>{{ loan.getEndDate|date('d/m/Y') }}</td>
            </tr>
            <tr>
              <th>{{ 'loan.total_number_of_payments'|trans }}</th>
              <td>{{ loan.getNumberOfPayments }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
