{% trans_default_domain 'calculator' %}

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h4 class="title">{{ 'loan.amortization_table'|trans }}</h4>
        <div class="content">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">{{ 'loan.date'|trans }}</th>
                <th class="text-center">{{ 'loan.initial_balance'|trans }}</th>
                <th class="text-center">{{ 'loan.monthly_payment'|trans }}</th>
                <th class="text-center">{{ 'loan.insurance'|trans }}</th>
                <th class="text-center">{{ 'loan.interests'|trans }}</th>
                <th class="text-center">{{ 'loan.amortized_capital'|trans }}</th>
                <th class="text-center">{{ 'loan.remaining_capital'|trans }}</th>
              </tr>
            </thead>
            <tbody>
            {% set remaining_capital = loan.getTotal %}
            {% set initial_capital = remaining_capital %}
            {% set rate = loan.getAnnualInterestRate %}
            {% set total_months = loan.getNumberOfPayments %}
            {% set payment = loan.getMonthlyPaymentDue %}
            {% for i in 1..total_months %}
            <tr>
              <td class="text-center">{{ i }}</td>
              <td class="text-center">{{ loan.startDate|date_modify('+' ~ (i - 1) ~ ' months')|date('d/m/Y') }}</td>
              <td class="text-right">{{ remaining_capital|number_format(2) ~ ' €' }}</td>
              <td class="text-right">{{ loan.getTotalMonthlyDue|number_format(2) ~ ' €' }}</td>
              <td class="text-right">{{ loan.getMonthlyInsurancePayment|number_format(2) ~ ' €' }}</td>
              {% set interest = remaining_capital * (rate / 100) / loan.getNumberOfPaymentsPerYear %}
              <td class="text-right">{{ interest|number_format(2) ~ ' €' }}</td>
              {% set amortized_capital = payment - interest %}
              <td class="text-right">{{ amortized_capital|number_format(2) ~ ' €' }}</td>
              {% set remaining_capital = remaining_capital - amortized_capital %}
              <td class="text-right">{{ remaining_capital|number_format(2) ~ ' €' }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
