//***********************************************************************************************
//
//    Fonts sizes
//
//***********************************************************************************************

$main-title-font-size: 48px;
$baseline-font-size: 26px;
$title-font-size: 36px;
$minor-title-font-size: 27px;
$main-text-font-size: 15px;


//***********************************************************************************************
//
//    General fonts
//
//***********************************************************************************************

html,
body {
  font: normal 16px/24px 'Open Sans', Sans-serif;
  color: $primary-color;
}

h2 {
  font: bold $main-title-font-size 'Proxima Nova', Sans-serif;
  text-transform: uppercase;
}

.baseline {
  font: normal $baseline-font-size 'Proxima Nova', Sans-serif;
}

h3 {
  font: normal $title-font-size 'Proxima Nova', Sans-serif;
}

h4 {
  font: bold $minor-title-font-size 'Proxima Nova', Sans-serif;
}

.home-title {
  margin: 55px auto 15px;
  text-align: center;
  font-size: $title-font-size;
  text-transform: none;

  & + p {
    margin: 0 0 50px;
    text-align: center;
  }
}

.error,
.errors-list {
  color: $error-messages-color;
}

.success {
  color: $success-messages-color;
}
